<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info" role="alert">Еще не создано ни одного голосования. <a [routerLink]="['/vote-create']" class="alert-link"><strong>Создать!</strong></a></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary" *ngFor="let vote of voteList">
      <div class="panel-heading">
        {{vote.title}}
        <span class="pull-right">{{vote.createDateUtc | date:'dd/MM/yyyy'}}</span>
      </div>
      <div class="panel-body">
        <p>{{vote.description}}</p>
        <div class="pull-right">
          <a [routerLink]="[vote.id]" class="btn btn-primary">Перейти</a>
        </div>
      </div>
    </div>
  </div>
</div>
