<div class="row" *ngIf="voteList.length === 0">
  <div class="col-sm-12">
    <div class="alert alert-info" role="alert">Еще не создано ни одного голосования. <a *ngIf="currentUser.isAdmin" [routerLink]="['/vote-create']" class="alert-link"><strong>Создать!</strong></a></div>
  </div>
</div>
<div class="row" *ngIf="voteList.length !== 0">
  <div class="col-sm-12">

    <div class="panel panel-primary" *ngFor="let vote of voteList">
      <!--<div class="panel-heading">
        {{vote.Title}}
        <span class="pull-right">{{vote.CreateDateUtc | date:'dd/MM/yyyy'}}</span>
      </div>
      <div class="panel-body">
        <p>{{vote.Description}}</p>
        <div class="pull-right">
          <a [routerLink]="[vote.Id]" class="btn btn-primary">Перейти</a>
          <a *ngIf="currentUser.isAdmin" [routerLink]="[vote.Id.toString(), 'edit']" class="btn btn-warning">Редактировать</a>
          <button *ngIf="currentUser.isAdmin" class="btn btn-danger" (click)="deleteVote(vote)">Удалить</button>
        </div>
      </div>-->

      <!--<mat-card class="example-card">
        <mat-card-header color="accent">
          <mat-card-title>{{vote.Title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{vote.Description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>-->

      <mat-card>
        <mat-card-header>
          <mat-toolbar color="primary">
            {{vote.Title}}
          </mat-toolbar>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{vote.Description}}
          </p>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>
