ReportsServer/ReportsServer.sln.DotSettings.user
Kpd37Gomel/.vs/
/.vs/slnx.sqlite
/Kpd37Gomel/Kpd37Gomel.DataAccess/bin
/Kpd37Gomel/Kpd37Gomel.DataAccess/obj
/Kpd37Gomel/Kpd37Gomel.DTO/bin
/Kpd37Gomel/Kpd37Gomel.DTO/obj
