<!--<header>
  <app-nav-menu [menuItems]="menuItems"></app-nav-menu>
</header>
<main>
  <router-outlet></router-outlet>
</main>-->

<!--https://www.codeply.com/go/7Mz5XkMckc-->
<div class="row">
  <nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 navbar-dark bg-dark sidebar-style-1">
    <h1 class="site-title"><a href="index.html"><em class="fa fa-rocket"></em> Brand.name</a></h1>
				
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				
    <ul class="nav nav-pills flex-column sidebar-nav">
      <li class="nav-item" *ngFor="let menuItem of menuItems | async">
        <a class="nav-link" routerLink="{{menuItem.route}}" [routerLinkActive]="['active']">
          <fa-icon icon="{{menuItem.iconClassName}}"></fa-icon> {{menuItem.title}}
        </a>
      </li>
      <!--<li class="nav-item"><a class="nav-link" href="index.html"><i class="fab fa-accessible-icon"></i> Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="widgets.html"><em class="fa fa-calendar-o"></em> Widgets </a></li>
      <li class="nav-item"><a class="nav-link active" href="charts.html"><em class="fa fa-bar-chart"></em> Charts <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="elements.html"><em class="fa fa-hand-o-up"></em> UI Elements</a></li>
      <li class="nav-item"><a class="nav-link" href="cards.html"><em class="fa fa-clone"></em> Cards</a></li>-->
    </ul>
  </nav>
  <main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
    <router-outlet></router-outlet>
  </main>
</div>
