/*li .glyphicon {
    margin-right: 10px;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  /*background: #7376df;*/
}

  .sidebar a {
    color: #9d9d9d;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .2rem;
    padding: .75rem 1rem;
  }

  .sidebar em {
    font-size: 1rem;
  }

  .sidebar h1 {
    color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: 0rem 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  .sidebar .site-title {
    margin-top: .5rem;
    margin-bottom: 1.75rem;
  }

    .sidebar .site-title a {
      font-size: 1.2rem;
      padding-left: 0;
      padding-right: 0;
      cursor: pointer;
    }

      .sidebar .site-title a:hover {
        background: none !important;
      }

  .sidebar .nav {
    margin-bottom: 20px;
  }

  .sidebar .nav-item {
    width: 100%;
  }

    .sidebar .nav-item.active {
      color: #fff;
    }

    .sidebar .nav-item + .nav-item {
      margin-left: 0;
    }

  .sidebar .nav-link {
    border-radius: 0;
  }

    .sidebar .nav-link:hover, .sidebar .nav-link.active {
      color: #fff;
    }

  .sidebar .logout-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 85%;
    text-align: center;
    border-radius: .3rem;
  }

#wrapper.toggled .sidebar-nav {
  display: none;
}

#menu-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.sidebar a:focus, .sidebar a:visited, .sidebar a:hover, .sidebar a:active {
  /*background-color: #6365d2 !important;*/
}

@media screen and (max-width: 576px) {
  #wrapper .sidebar-nav {
    display: none;
  }

  #wrapper.toggled .sidebar-nav {
    display: block !important;
  }

  .sidebar {
    position: inherit;
    padding-bottom: 0px;
    margin-bottom: 1rem;
  }

  #menu-toggle {
    background-color: #6365d2;
  }
}

@media screen and (min-width: 576px) {
  #wrapper.toggled .sidebar-nav {
    display: block;
  }

  #menu-toggle {
    display: none;
  }
}
