<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <vote-template #voteTemplate [vote]="currentVote"></vote-template>
    <button class="btn btn-primary pull-right" [disabled]="voteTemplate.invalid" (click)="addVote(voteTemplate.vote)">
      <span *ngIf="currentVote.Id === null">Добавить</span>
      <span *ngIf="currentVote.Id !== null">Сохранить</span>
    </button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <dx-list [dataSource]="voteSet"
             selectionMode="single"
             (onSelectionChanged)=listSelectionChanged($event)>
      <div *dxTemplate="let item of 'item'">
        <div>
          <span>{{item.Title}}</span>
        </div>
      </div>
    </dx-list>
    <div class="center-block">
      <button *ngIf="currentVote.Id !== null" class="btn btn-link" (click)="addNewVote()"><span class="glyphicon glyphicon-plus"></span> Новое голосование</button>
    </div>
  </div>
</div>
