<div class="signin-content">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="kpd37-avatar.jpg" class="form-avatar" alt="ТС ЭлитФорт">
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm.value)">
        <h3 class="mat-h3">ТС "ЭлитФорт"</h3>
        <h5 class="mat-h5">г. Гомель, ул. Григория Денисенко, д. 12</h5>
        <mat-form-field class="full-width-input">
          <input matInput name="lastName" placeholder="Фамилия" [formControl]="loginForm.controls['lastName']" required>
          <mat-icon *ngIf="loginForm.controls['lastName'].touched" [color]="loginForm.controls['lastName'].touched && loginForm.controls['lastName'].invalid ? 'warn' : 'none'" matSuffix>
            {{getErrorIcon(loginForm.controls['lastName'])}}
          </mat-icon>
          <mat-error *ngIf="loginForm.controls['lastName'].invalid">{{getErrorMessage(loginForm.controls['lastName'])}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput name="firstName" placeholder="Имя" [formControl]="loginForm.controls['firstName']" required>
          <mat-icon *ngIf="loginForm.controls['firstName'].touched" [color]="loginForm.controls['firstName'].touched && loginForm.controls['firstName'].invalid ? 'warn' : 'none'" matSuffix>
            {{getErrorIcon(loginForm.controls['firstName'])}}
          </mat-icon>
          <mat-error *ngIf="loginForm.controls['firstName'].invalid">{{getErrorMessage(loginForm.controls['firstName'])}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput name="middleName" placeholder="Отчество" [formControl]="loginForm.controls['middleName']" required>
          <mat-icon *ngIf="loginForm.controls['middleName'].touched" [color]="loginForm.controls['middleName'].touched && loginForm.controls['middleName'].invalid ? 'warn' : 'none'" matSuffix>
            {{getErrorIcon(loginForm.controls['middleName'])}}
          </mat-icon>
          <mat-error *ngIf="loginForm.controls['middleName'].invalid">{{getErrorMessage(loginForm.controls['middleName'])}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput name="apartmentNumber" placeholder="Номер квартиры" [formControl]="loginForm.controls['apartmentNumber']" required>
          <mat-icon *ngIf="loginForm.controls['apartmentNumber'].touched" [color]="loginForm.controls['apartmentNumber'].touched && loginForm.controls['apartmentNumber'].invalid ? 'warn' : 'none'" matSuffix>
            {{getErrorIcon(loginForm.controls['apartmentNumber'])}}
          </mat-icon>
          <mat-error *ngIf="loginForm.controls['apartmentNumber'].invalid">{{getErrorMessage(loginForm.controls['apartmentNumber'])}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Войти</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
